Package: ahenk-ntp-management
Source: ntp-management
Version: 1.0.0
Architecture: amd64
Maintainer: TUBITAK ULAKBIM
Installed-Size: 20
Depends: python3 (>= 3)
Section: unknown
Priority: optional
Homepage: http://www.liderahenk.org.tr
Description: Lider Ahenk ahenk-ntp-management plugin
